.reset-password-form {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	height: 100%;

	h1 {
		font-weight: bold;
		margin: 0;
	}

	p {
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.3px;
		margin: 20px 0;
		text-align: center;
	}

	input {
		background-color: #eee;
		border: none;
		margin: 8px 0;
		padding: 10px 15px;
		font-size: 13px;
		border-radius: 8px;
		width: 100%;
		outline: none;
		transition: all 0.3s ease;

		&:focus {
			background-color: #ddd;
		}
	}

	.reset-password-buttons {
		display: flex;
		gap: 20px;
		width: 100%;
		margin-top: 20px;

		button {
			flex: 1;

			&:first-child {
				background-color: #666;

				&:hover {
					background-color: #555;
				}
			}
		}
	}
}
