.login-form {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	height: 100%;
}
h1 {
	font-weight: bold;
	margin: 0;
}

.alternative-login {
	font-size: 12px;
	margin-bottom: 5px;
}

.password-input-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	position: relative;
	margin: 8px 0;
}

.password-input {
	padding-right: 38px;
	margin: 0;
}

.toggle-password-icon {
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	color: #888;
	font-size: 20px;
	z-index: 2;
	display: flex;
	align-items: center;
	height: 100%;
	background: transparent;
	border: none;
	padding: 0;
}

.forget-password {
	color: #666;
	font-size: 13px;
	cursor: pointer;
	border: none;
	background-color: transparent;
	transition: all 0.3s ease;
	margin-bottom: 5px;

	&:hover {
		text-decoration: underline;
	}
}
