.personal-info-tab {
	margin: 0 auto;
	padding: 2rem;
}
.title {
	font-weight: 800;
	font-size: 24px;
	margin-bottom: 20px;
	color: var(--text-color);
}

.loading-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.form-group {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	label {
		font-weight: 600;
		font-size: 1rem;
		gap: 0.5rem;
		justify-content: flex-start;
		align-items: center;
		display: flex;
		color: var(--text-primary);
	}
}

.textarea {
	resize: vertical;
	min-height: 100px;
}

.error-text {
	color: var(--error-color);
	font-size: 0.875rem;
}

.avatar-wrapper {
	display: flex;
	align-items: center;
}

.avatar-preview {
	max-width: 280px;
	max-height: 280px;
	border-radius: 50%;
	object-fit: cover;
	padding: 5px;
	border: 6px solid var(--primary-blue);
}

.dropzone {
	width: 280px;
	height: 280px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 6px solid var(--primary-blue);
	border-radius: 50%;
	padding: 5px;
	text-align: center;
	cursor: pointer;
	transition: border-color 0.3s ease;
	background-color: var(--background-secondary);

	&:hover {
		border-color: var(--primary-blue);
	}

	&.active {
		border-color: var(--primary-blue);
		background-color: rgba(var(--primary-blue-rgb), 0.1);
	}
}

.avatar-container {
	position: relative;
	display: inline-block;
}
.avatar-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.dropzone-placeholder {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 98%;
	height: 98%;
	border-radius: 50%;
	gap: 0.5rem;
	color: var(--text-secondary);
	border: 2px dashed #a3a3a3;

	transition: all 0.3s ease;

	.dropzone:not(.active) & {
		&:hover {
			border-color: var(--primary-blue);
			background-color: var(--primary-blue-light);
			color: var(--primary-blue);
		}
	}

	.dropzone.active & {
		border-color: var(--primary-blue);
		background-color: rgba(var(--primary-blue-rgb), 0.1);
		color: var(--primary-blue);
	}

	p {
		margin: 0;
		font-size: 0.875rem;
	}
}

.uploaded-image-preview {
	width: 102%;
	height: 102%;
	border-radius: 50%;
	object-fit: cover;
}

.row-form-group {
	display: flex;
	justify-content: space-between;
	gap: 1.5rem;
}

.input-with-icon {
	position: relative;
	display: flex;
	align-items: center;

	.check-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		right: 10px;
		background: none;
		border: none;
		cursor: pointer;
		font-size: 1.2rem;
		transition: color 0.3s ease;

		&:hover:not(:disabled) {
			color: var(--primary-blue-hover);
		}

		&:disabled {
			cursor: not-allowed;
			color: var(--text-secondary);
		}

		&.checking {
			animation: spin 1s linear infinite;
		}
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.username-available {
	border: 1px solid green !important;
}

.username-not-available {
	border: 1px solid red !important;
}

.additional-info {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;

	@media (max-height: 768px) {
		grid-template-columns: 1fr;
	}
}
