.input {
	background-color: #eee;
	border: none;
	padding: 10px 15px;
	font-size: 13px;
	border-radius: 8px;
	width: 100%;
	outline: none;
	transition: all 0.3s ease;
	box-sizing: border-box;

	&:focus {
		background-color: #ddd;
	}
}

.password-input {
	padding-right: 38px;
	margin: 0;
}
